<h1 style="text-align:center"> <%= @user.email %> </h1>
<br>
<h4 style="text-align:center">Last signed in at: <%= @user.last_sign_in_at %></h4>
<br>
<h4 style="text-align:center">Admin status: <%= @user.admin %> </h4>
