<h1 style="text-align:center"><%= @product.name %></h1>
<img style="display:block; margin:auto;" src="<%= @product.image %>" alt="" />
<h3 style="text-align:center"> $<%= @product.price %> </h3>
<h3 style="text-align:center"> Product Description: <%= @product.description %> </h3>
